<template name="listCustomers">
	<select class="soflow-color" id="select">
		<option value="0">All</option>
		{{#each monthOptions}}
			<option value="{{value}}">{{name}}</option>
		{{/each}}
  </select>
	{{#unless Template.subscriptionsReady}}
		{{> spinner}}
	{{/unless}}
	<table class="table">
		<thead>
			<tr>
				<th>
				<a id="date" href="#">Date</a>
				</th>
				<th>
				<a id="studyField" href="#">Study Field</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each customers}}
				<tr>
					<td>{{formatDate startDate}}</td>
					<td>{{studyField}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<nav>
    <ul class="pager">
      <li class="{{prevPageClass}}">
        <a id="prevPage" href="{{prevPage}}">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      </li>
			{{#each pages}}
				{{#if current}}
					<li>
						<a class="current" href="{{value}}">{{value}}</a>
					</li>
				{{else}}
					<li>
						<a href="{{value}}">{{value}}</a>
					</li>
				{{/if}}	
			{{/each}}
      <li class="{{nextPageClass}}">
        <a id="nextPage" href="{{nextPage}}">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
</template>